# Lattice Radiant and Segger Embedded Studio files
*.html
impl*/
*.xml
.build_status
.run_manager.ini
.recovery
.spread_sheet.ini
.spreadsheet_view.ini
*.dir/
*.log
*.tcl
*.ccl
*.srp
*.dmp
._Real_._Math_.vhd
**/Output/
**/Debug/
*.emSession
*.jlink